.header {
	background: $dark-blue;
}

.header__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
}

.header__title {
	color: white;
	text-decoration: none;
	h1 {
		margin: 0;
	}
}

.header__nav-list {
	display: flex;
	list-style-type: none;
	margin: 0;
}

.header__nav-item {
	color: white;
	font-size: $font-size-large;
	margin-right: $s-size;
	text-decoration: none;
}
